<p id="notice"><%= notice %></p>

<h2> <%= @place.name %></h2>

<p><%= @place.street %></p>

<p><%= @place.zip %> <b><%= @place.city %></b></p>

<iframe src ="<%= @place.blogmap %>" height="500" width="500" />